### String Processing

index from left to right ->   0   1   2   3   4   5   6   7   8   9
                   mystr ->   u   n   i   v   e   r   s   i   t   y
index from right to left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [17]:
# string slicing and indexing
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[8], mystr[-2])   # indexing
print (mystr[6:], mystr[-4:], mystr[:3], mystr[:-7])    # slicing
print (mystr[::2], mystr[1::2], mystr[8::-2], mystr[9::-2], mystr[::-1])
print (mystr[1:6], mystr[-9:-4], mystr[1:-4], mystr[-9:6])

university 10 <class 'str'> 2968864505456
v v t t
sity sity uni uni
uiest nvriy tseiu yirvn ytisrevinu
niver niver niver niver

In [14]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
substring = mystr[:4]
print (substring, len(substring), type(substring), id(substring))

university 10 <class 'str'> 2968864505456
univ 4 <class 'str'> 2968865877040

In [25]:
mystr = "calCUTta uniVErsITy"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.swapcase())
print (mystr.capitalize())
print (mystr.title())
print (mystr.center(40))
print (mystr.title().center(40))

calCUTta uniVErsITy 19 <class 'str'> 2968870099024
CALCUTTA UNIVERSITY
calcutta university
CALcutTA UNIveRSitY
Calcutta university
Calcutta University
          calCUTta uniVErsITy
          Calcutta University

In [34]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("ity", 3), mystr.find("ity", 4), mystr.find("ity", 6))
print (mystr.find("i"), mystr.find("i", 4), mystr.find("i", 5), mystr.find("i", 12))
print (mystr.index("i"))
print (mystr.index("i", 4))
print (mystr.index("i", 5))
print (mystr.index("i", 12))

4 4 4 -1
4 4 11 -1
4
4
11

ValueError: substring not found

In [36]:
mystr = "charity begins at home"
try:
    print (mystr.index("i", 4))
    print (mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("Unsuccessful Searching...!!!")
else:
    print ("Successful Searching has taken place...!!!")

4
11
Unsuccessful Searching...!!!

In [43]:
mystr = "      standford    university     "
print (mystr, len(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

      standford    university      34
standford    university 23
standford    university      28
      standford    university 29

In [41]:
mystr = "#@#@@#standford#@##university#@##@"
print (mystr, len(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

#@#@@#standford#@##university#@##@ 34
standford#@##university 23
standford#@##university#@##@ 28
#@#@@#standford#@##university 29

In [57]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("cHa"), mystr.startswith("cha", 0), mystr.startswith("cha", 1))
print (mystr.startswith(" at", 10), mystr.startswith(" at", 14), mystr.startswith(" at", 14, 16), mystr.startswith(" at", 14, 20))
print ()
print (mystr.endswith("ome"), mystr.endswith("oMe"), mystr.endswith("at"), mystr.endswith("at", 1, 17))

True False True False
False True False True

True False False True

In [68]:
mystr = "school"
for ch in mystr:
    print (ch, end = ", ")
print ()
for i in range(len(mystr)):
    print (mystr[i], end = ", ")
print ()
for i in range(len(mystr) - 1, -1, -1):
    print (mystr[i], end = ", ")

s, c, h, o, o, l,
s, c, h, o, o, l,
l, o, o, h, c, s,

In [69]:
mystr = input("Please enter a string: ")
for i in range(len(mystr) - 1, -1, -1):
    print (mystr[i], end = ", ")
print ("\nEnd of the program...")

Please enter a string:  college

e, g, e, l, l, o, c,
End of the program...

In [72]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
print (result, len(result))
result = mystr.split("i")
print (result, len(result))

charity begins at home
['charity', 'begins', 'at', 'home'] 4
['char', 'ty beg', 'ns at home'] 3

In [73]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
for word in result:
    print (word)

charity begins at home
charity
begins
at
home

In [77]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
print (result)
output_string = " ".join(result)
print (output_string)
output_string = ", ".join(result)
print (output_string)
output_string = " - ".join(result)
print (output_string)

charity begins at home
['charity', 'begins', 'at', 'home']
charity begins at home
charity, begins, at, home
charity - begins - at - home

In [83]:
my_numbers = [int(x) for x in input("Please enter your all number separated by blank spaces: ").split()]
print (my_numbers, type(my_numbers), type(my_numbers[0]))

Please enter your all number separated by blank spaces:  11 33 22 55 44 77 66

[11, 33, 22, 55, 44, 77, 66] <class 'list'> <class 'int'>

In [92]:
mystr = "university"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "1234.45"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "university123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "university@123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "四"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())

university True True False False False
1234 False True True True True
1234.45 False False False False False
university123 False True False False False
university@123 False False False False False
四 True True True False False

In [94]:
mystr = "university"
print (mystr, len(mystr))
print (mystr.count("i"), mystr.count("I"), mystr.count("v"), mystr.count("y"), mystr.count("ver"))

university 10
2 0 1 1 1

In [101]:
mystr = "good morning"
print (mystr, len(mystr))
print (mystr.replace("morning", "night"))
print (mystr)
result = mystr.replace("morning", "night")
print (result)
result = mystr.replace("o", "O")
print (result)

good morning 12
good night
good morning
good night
gOOd mOrning

In [106]:
mystr = "mississippi"
print (mystr, len(mystr), type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi 11 <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'i', 'p', 'm', 's'}
frozenset({'i', 'p', 'm', 's'})

In [ ]:
help(str)

**Class Assignment:** (Convert a user given name as in the shown format)
* **Input:** moHan dAs kaRaM chAnd gaNDhi
* **Output:** M D K C Gandhi

In [115]:
# Input: moHan dAs kaRaM chAnd gaNDhi
# Output: M D K C Gandhi

def my_string_processing(mystr):
    flag = 1
    outputstr = ""
    for i in range(len(mystr)):
        ch = mystr[i]
        if (flag == 1):
            outputstr += ch.upper()
            position = i
            flag = 0
        if (ch == " "):
            flag = 1
            outputstr += " "
    outputstr += mystr[position + 1:].lower()
    return outputstr

name_str = "moHan dAs kaRaM chAnd gaNDhi"
result_str = my_string_processing(name_str)
print (f"Original name string is: {name_str}...")
print (f"Processed name string is: {result_str}")
print ("End of the program...")

Original name string is: moHan dAs kaRaM chAnd gaNDhi...
Processed name string is: M D K C Gandhi
End of the program...

**Class Assignment:** (Convert a user given name as in the shown format)
* **Input:** moHan dAs kaRaM chAnd gaNDhi
* **Output:** M. D. K. C. Gandhi

In [114]:
# Input: moHan dAs kaRaM chAnd gaNDhi
# Output: M. D. K. C. Gandhi

def my_string_processing(mystr):
    flag = 1
    outputstr = ""
    for i in range(len(mystr)):
        ch = mystr[i]
        if (flag == 1):
            outputstr += ch.upper()
            position = i
            flag = 0
        if (ch == " "):
            flag = 1
            outputstr += ". "
    outputstr += mystr[position + 1:].lower()
    return outputstr

name_str = "moHan dAs kaRaM chAnd gaNDhi"
result_str = my_string_processing(name_str)
print (f"Original name string is: {name_str}...")
print (f"Processed name string is: {result_str}")
print ("End of the program...")

Original name string is: moHan dAs kaRaM chAnd gaNDhi...
Processed name string is: M. D. K. C. Gandhi
End of the program...

**Class Assignment:**
>Take a sentence from the user as input. The sentence may contain upper and lower case characters. Find the number of vowels and consonants in the given sentence.

In [116]:
mystr = input("Please enter your sentence: ")
vcount = ccount = 0
for ch in mystr.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So the sentence '{mystr}' contains number of vowels = {vcount} and consonants = {ccount}...")
print ("End of the program...")

Please enter your sentence:  Honesty is the best policy.

So the sentence 'Honesty is the best policy.' contains number of vowels = 7 and consonants = 15...
End of the program...

### List Processing

In [118]:
list1 = [100, 300, 400, 500, 600]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 300, 400, 500, 600] 5 <class 'list'> 2968868724352
600 100
1900 380.0

In [122]:
list1 = ['Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday'] 5 <class 'list'> 2968871940032
Wednesday Friday

In [125]:
list1 = ['Saturday', 'Tuesday', 300, 400, 500, 'Friday', 'Sunday', 'Wednesday']
print (list1, len(list1), type(list1), id(list1))
# print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['Saturday', 'Tuesday', 300, 400, 500, 'Friday', 'Sunday', 'Wednesday'] 8 <class 'list'> 2968865476288

In [128]:
list1 = [100, True, 300, 400, False, 500.56, 600]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, True, 300, 400, False, 500.56, 600] 7 <class 'list'> 2968865638656
600 False
1901.56 271.65142857142854

In [151]:
# indexing and slicing
# Left to right index ->   0           1          2         3         4
list1                  = ['Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday']
# Right to left index ->  -5          -4         -3        -2        -1
print (list1, len(list1), type(list1), id(list1))    # indexing
print (list1[2], list1[-3], list1[4], list1[-1])
print (list1[2][1:5], list1[-3][-5:-1])
print (list1[1:4], list1[-4:-1], list1[1:-1], list1[-4:4])    # slicing
print (list1[2:], list1[-3:], list1[:3], list1[:-2])
print (list1[::-1])
print (list1[1::2], list1[::2])

['Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday'] 5 <class 'list'> 2968871441472
Friday Friday Wednesday Wednesday
rida rida
['Tuesday', 'Friday', 'Sunday'] ['Tuesday', 'Friday', 'Sunday'] ['Tuesday', 'Friday', 'Sunday'] ['Tuesday', 'Friday', 'Sunday']
['Friday', 'Sunday', 'Wednesday'] ['Friday', 'Sunday', 'Wednesday'] ['Saturday', 'Tuesday', 'Friday'] ['Saturday', 'Tuesday', 'Friday']
['Wednesday', 'Sunday', 'Friday', 'Tuesday', 'Saturday']
['Tuesday', 'Sunday'] ['Saturday', 'Friday', 'Wednesday']

In [154]:
list1 = ['Saturday', 'Tuesday', 'Friday', 'Wednesday']
list2 = ['Sunday', 'Thursday', 'Monday']
print (list1, len(list1))
print (list2, len(list2))
list3 = list1 + list2    # list concatenation
print (list3, len(list3))

['Saturday', 'Tuesday', 'Friday', 'Wednesday'] 4
['Sunday', 'Thursday', 'Monday'] 3
['Saturday', 'Tuesday', 'Friday', 'Wednesday', 'Sunday', 'Thursday', 'Monday'] 7

In [157]:
list1 = ['Saturday', 'Tuesday', 'Friday', 'Wednesday']
list2 = ['Sunday', 'Thursday', 'Monday']
print (list1, len(list1))
print (list2, len(list2))
list1.extend(list2)
print (list1, len(list1))
print (list2, len(list2))

['Saturday', 'Tuesday', 'Friday', 'Wednesday'] 4
['Sunday', 'Thursday', 'Monday'] 3
['Saturday', 'Tuesday', 'Friday', 'Wednesday', 'Sunday', 'Thursday', 'Monday'] 7
['Sunday', 'Thursday', 'Monday'] 3

In [159]:
list1 = ['Saturday', 'Tuesday', 'Friday', 'Wednesday']
list2 = ['Sunday', 'Thursday', 'Monday']
print (list1, len(list1))
print (list2, len(list2))
list3 = [list1, list2]    # list of lists
print (list3, len(list3), len(list3[0]), len(list3[1]))

['Saturday', 'Tuesday', 'Friday', 'Wednesday'] 4
['Sunday', 'Thursday', 'Monday'] 3
[['Saturday', 'Tuesday', 'Friday', 'Wednesday'], ['Sunday', 'Thursday', 'Monday']] 2 4 3

In [164]:
# index->  0           1          2         3              0         1           2
list1 = [['Saturday', 'Tuesday', 'Friday', 'Wednesday'], ['Sunday', 'Thursday', 'Monday']]
# index->  0                                               1
print (list1, len(list1))
print (list1[1][2], list1[0][1:3], list1[1][:2], list1[0][3][3:6])

[['Saturday', 'Tuesday', 'Friday', 'Wednesday'], ['Sunday', 'Thursday', 'Monday']] 2
Monday ['Tuesday', 'Friday'] ['Sunday', 'Thursday'] nes

In [167]:
# insert operation on a list
list1 = ['Saturday', 'Tuesday', 'Friday', 'Wednesday']
print (list1, len(list1))
list1.append('Thursday')
print (list1, len(list1))
list1.append('Sunday')
print (list1, len(list1))
list1.append('Monday')
print (list1, len(list1))

['Saturday', 'Tuesday', 'Friday', 'Wednesday'] 4
['Saturday', 'Tuesday', 'Friday', 'Wednesday', 'Thursday'] 5
['Saturday', 'Tuesday', 'Friday', 'Wednesday', 'Thursday', 'Sunday'] 6
['Saturday', 'Tuesday', 'Friday', 'Wednesday', 'Thursday', 'Sunday', 'Monday'] 7

In [168]:
list1 = ['Saturday', 'Tuesday', 'Friday', 'Wednesday']
print (list1, len(list1))
list1.insert(1, 'Thursday')
print (list1, len(list1))
list1.insert(3, 'Monday')
print (list1, len(list1))
list1.insert(2, 'Sunday')
print (list1, len(list1))

['Saturday', 'Tuesday', 'Friday', 'Wednesday'] 4
['Saturday', 'Thursday', 'Tuesday', 'Friday', 'Wednesday'] 5
['Saturday', 'Thursday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 6
['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 7

In [171]:
# update operation on a list
try:
    list1 = ['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday']
    print (list1, len(list1))
    list1[3] = 'Weekday'
    print (list1, len(list1))
    list1[0] = 'Weekendday'
    print (list1, len(list1))
    list1[70] = 'Weekendday'
    print (list1, len(list1))
except IndexError as ie:
    print ("Wrong index value has been provided...")

['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 7
['Saturday', 'Thursday', 'Sunday', 'Weekday', 'Monday', 'Friday', 'Wednesday'] 7
['Weekendday', 'Thursday', 'Sunday', 'Weekday', 'Monday', 'Friday', 'Wednesday'] 7
Wrong index value has been provided...

In [174]:
# delete operation on a list
list1 = ['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print ()
print (list1.pop(2))
print (list1, len(list1))
print (list1.pop(0))
print (list1, len(list1))

['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 7
Wednesday
['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday'] 6
Friday
['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday'] 5
Monday
['Saturday', 'Thursday', 'Sunday', 'Tuesday'] 4

Sunday
['Saturday', 'Thursday', 'Tuesday'] 3
Saturday
['Thursday', 'Tuesday'] 2

In [176]:
list1 = ['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday']
print (list1, len(list1))
list1.remove('Tuesday')
print (list1, len(list1))
list1.remove('Monday')
print (list1, len(list1))
list1.remove('Wednesday')
print (list1, len(list1))
list1.remove('friday')
print (list1, len(list1))

['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 7
['Saturday', 'Thursday', 'Sunday', 'Monday', 'Friday', 'Wednesday'] 6
['Saturday', 'Thursday', 'Sunday', 'Friday', 'Wednesday'] 5
['Saturday', 'Thursday', 'Sunday', 'Friday'] 4

ValueError: list.remove(x): x not in list

In [177]:
list1 = ['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 7
[] 0

In [179]:
list1 = ['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday']
print (list1, len(list1))
del list1[2]
print (list1, len(list1))
del list1[4]
print (list1, len(list1))
del list1
print (list1, len(list1))

['Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 7
['Saturday', 'Thursday', 'Tuesday', 'Monday', 'Friday', 'Wednesday'] 6
['Saturday', 'Thursday', 'Tuesday', 'Monday', 'Wednesday'] 5

NameError: name 'list1' is not defined

In [181]:
# reverse of a list
list1 = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] 7
['Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday'] 7

In [183]:
# sorting the list content
list1 = ["mango", 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon']
print (list1, len(list1))
list1.sort()
print (list1, len(list1))

['mango', 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon'] 7
['apple', 'banana', 'guava', 'lemon', 'lime', 'mango', 'pineapple'] 7

In [187]:
list1 = ["mango", 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon']
print (list1, len(list1))
list1.sort(reverse=True)
print (list1, len(list1))

['mango', 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon'] 7
['pineapple', 'mango', 'lime', 'lemon', 'guava', 'banana', 'apple'] 7

In [185]:
list1 = ["mango", 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon']
print (list1, len(list1))
list1 = sorted(list1)
print (list1, len(list1))

['mango', 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon'] 7
['apple', 'banana', 'guava', 'lemon', 'lime', 'mango', 'pineapple'] 7

In [188]:
list1 = ["mango", 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon']
print (list1, len(list1))
list1 = sorted(list1, reverse=True)
print (list1, len(list1))

['mango', 'apple', 'guava', 'banana', 'pineapple', 'lime', 'lemon'] 7
['pineapple', 'mango', 'lime', 'lemon', 'guava', 'banana', 'apple'] 7

In [191]:
list1 = [True, False, True, False]
print (any(list1), all(list1))
list1 = [False, False, False, False]
print (any(list1), all(list1))
list1 = [True, True, True, True]
print (any(list1), all(list1))

True False
False False
True True

In [198]:
list1 = ["mango", 'apple', 'guava', "mango", 'banana', "mango", 'pineapple', "mango", 'lime', 'lemon']
print (list1, len(list1))
print (list1.count("mango"), list1.count('pineapple'), list1.count('watermelon'))
print (list1.index("mango"), list1.index("mango", 2), list1.index("mango", 3), list1.index("mango", 4))

['mango', 'apple', 'guava', 'mango', 'banana', 'mango', 'pineapple', 'mango', 'lime', 'lemon'] 10
4 1 0
0 3 3 5

In [203]:
def list_processing(my_list):
    for i in range(len(my_list)):
        my_list[i] += 100
    print (my_list, len(my_list))
        
list1 = [11, 22, 33, 44, 55, 66]
print (list1, len(list1))
list_processing(list1)
print (list1, len(list1))

[11, 22, 33, 44, 55, 66] 6
[111, 122, 133, 144, 155, 166] 6
[111, 122, 133, 144, 155, 166] 6

In [208]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99]
list2 = list1
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))
list1[2] = 533
list2[3] = 544
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968874187520
[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968874187520
[11, 22, 533, 544, 55, 66, 77, 88, 99] 9 2968874187520
[11, 22, 533, 544, 55, 66, 77, 88, 99] 9 2968874187520

In [210]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99]
list2 = list1[2:5]
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))
list1[2] = 533
list2[1] = 544
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968871315584
[33, 44, 55] 3 2968874186944
[11, 22, 533, 44, 55, 66, 77, 88, 99] 9 2968871315584
[33, 544, 55] 3 2968874186944

In [211]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99]
list2[:] = list1    # shallow copy
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))
list1[2] = 533
list2[3] = 544
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968871316544
[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968874186944
[11, 22, 533, 44, 55, 66, 77, 88, 99] 9 2968871316544
[11, 22, 33, 544, 55, 66, 77, 88, 99] 9 2968874186944

In [212]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99]
list2= list1.copy()    # deep copy
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))
list1[2] = 533
list2[3] = 544
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968869024896
[11, 22, 33, 44, 55, 66, 77, 88, 99] 9 2968864390720
[11, 22, 533, 44, 55, 66, 77, 88, 99] 9 2968869024896
[11, 22, 33, 544, 55, 66, 77, 88, 99] 9 2968864390720

**Class Assignment**<br>
> Take n number of integers from the user and put them in a list with out using any loop. And sort them and print them.
Now take one by one number from the newly created list and put them in two lists, even_list and odd_list
depending upon the fact whether the number is even or odd respectively. And print both two newly created lists.

In [213]:
list1 = [int(x) for x in input("Please enter your set of integer numbers: ").split()]
print (f"Original list is {list1}...")
list1.sort()
print (f"Sorted list is {list1}...")
even_list = []
odd_list = []
for item in list1:
    if (item % 2 == 0): even_list.append(item)
    else: odd_list.append(item)
print (f"Even list is {even_list}...")
print (f"Odd list is {odd_list}...")
print ("End of the program...")

Please enter your set of integer numbers:  22 11 44 33 66 55 77 99 88

Original list is [22, 11, 44, 33, 66, 55, 77, 99, 88]...
Sorted list is [11, 22, 33, 44, 55, 66, 77, 88, 99]...
Even list is [22, 44, 66, 88]...
Odd list is [11, 33, 55, 77, 99]...
End of the program...

### Tuple Processing

In [129]:
tuple1 = (100, 300, 400, 500, 600)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 300, 400, 500, 600) 5 <class 'tuple'> 2968877464208
600 100
1900 380.0

In [132]:
tuple1 = ('Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday') 5 <class 'tuple'> 2968872283408
Wednesday Friday

In [135]:
tuple1 = ('Saturday', 'Tuesday', 300, 400, 500, 'Friday', 'Sunday', 'Wednesday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('Saturday', 'Tuesday', 300, 400, 500, 'Friday', 'Sunday', 'Wednesday') 8 <class 'tuple'> 2968869476832

In [136]:
tuple1 = (100, True, 300, 400, False, 500.56, 600)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, True, 300, 400, False, 500.56, 600) 7 <class 'tuple'> 2968873871584
600 False
1901.56 271.65142857142854

In [152]:
# indexing and slicing
# Left to right index ->   0           1          2         3         4
tuple1                  = ('Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday')
# Right to left index ->  -5          -4         -3        -2        -1
print (tuple1, len(tuple1), type(tuple1), id(tuple1))    # indexing
print (tuple1[2], tuple1[-3], tuple1[4], tuple1[-1])
print (tuple1[2][1:5], tuple1[-3][-5:-1])
print (tuple1[1:4], tuple1[-4:-1], tuple1[1:-1], tuple1[-4:4])    # slicing
print (tuple1[2:], tuple1[-3:], tuple1[:3], tuple1[:-2])
print (tuple1[::-1])
print (tuple1[1::2], tuple1[::2])

('Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday') 5 <class 'tuple'> 2968866374016
Friday Friday Wednesday Wednesday
rida rida
('Tuesday', 'Friday', 'Sunday') ('Tuesday', 'Friday', 'Sunday') ('Tuesday', 'Friday', 'Sunday') ('Tuesday', 'Friday', 'Sunday')
('Friday', 'Sunday', 'Wednesday') ('Friday', 'Sunday', 'Wednesday') ('Saturday', 'Tuesday', 'Friday') ('Saturday', 'Tuesday', 'Friday')
('Wednesday', 'Sunday', 'Friday', 'Tuesday', 'Saturday')
('Tuesday', 'Sunday') ('Saturday', 'Friday', 'Wednesday')

In [156]:
tuple1 = ('Saturday', 'Tuesday', 'Friday', 'Wednesday')
tuple2 = ('Sunday', 'Thursday', 'Monday')
print (tuple1, len(tuple1))
print (tuple2, len(tuple2))
tuple3 = tuple1 + tuple2    # tuple concatenation
print (tuple3, len(tuple3))

('Saturday', 'Tuesday', 'Friday', 'Wednesday') 4
('Sunday', 'Thursday', 'Monday') 3
('Saturday', 'Tuesday', 'Friday', 'Wednesday', 'Sunday', 'Thursday', 'Monday') 7

In [165]:
# index ->  0           1          2         3              0         1           2
tuple1 = (('Saturday', 'Tuesday', 'Friday', 'Wednesday'), ('Sunday', 'Thursday', 'Monday'))
# index ->  0                                               1
print (tuple1, len(tuple1))
print (tuple1[1][2], tuple1[0][1:3], tuple1[1][:2], tuple1[0][3][3:6])

(('Saturday', 'Tuesday', 'Friday', 'Wednesday'), ('Sunday', 'Thursday', 'Monday')) 2
Monday ('Tuesday', 'Friday') ('Sunday', 'Thursday') nes

In [199]:
tuple1 = (True, False, True, False)
print (any(tuple1), all(tuple1))
tuple1 = (False, False, False, False)
print (any(tuple1), all(tuple1))
tuple1 = (True, True, True, True)
print (any(tuple1), all(tuple1))

True False
False False
True True

In [200]:
tuple1 = ("mango", 'apple', 'guava', "mango", 'banana', "mango", 'pineapple', "mango", 'lime', 'lemon')
print (tuple1, len(tuple1))
print (tuple1.count("mango"), tuple1.count('pineapple'), tuple1.count('watermelon'))
print (tuple1.index("mango"), tuple1.index("mango", 2), tuple1.index("mango", 3), tuple1.index("mango", 4))

('mango', 'apple', 'guava', 'mango', 'banana', 'mango', 'pineapple', 'mango', 'lime', 'lemon') 10
4 1 0
0 3 3 5

In [303]:
tuple1 = (100, 200, 300, 400, 500)
print (tuple1, id(tuple1))
# tuple1[2] = 3000
list1 = list(tuple1)
print (list1)
list1[2] = 3000
print (list1)
tuple1 = tuple(list1)
print (tuple1, id(tuple1))

(100, 200, 300, 400, 500) 2968872189200
[100, 200, 300, 400, 500]
[100, 200, 3000, 400, 500]
(100, 200, 3000, 400, 500) 2968872186000

### Dictionary Processing

In [216]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green", "mango":"red"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())
print (dict1.values())
print (dict1.items())

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968868101504
dict_keys(['apple', 'pineapple', 'mango', 'orange', 'lime'])
dict_values(['red', 'yellow', 'red', 'orange', 'green'])
dict_items([('apple', 'red'), ('pineapple', 'yellow'), ('mango', 'red'), ('orange', 'orange'), ('lime', 'green')])

In [219]:
for x in dict1.items():
    # print (x)
    print (f"Fruit {x[0]} is having color {x[1]}...")

Fruit apple is having color red...
Fruit pineapple is having color yellow...
Fruit mango is having color red...
Fruit orange is having color orange...
Fruit lime is having color green...

In [220]:
for fruit_name, fruit_color in dict1.items():
    # print (x)
    print (f"Fruit {fruit_name} is having color {fruit_color}...")

Fruit apple is having color red...
Fruit pineapple is having color yellow...
Fruit mango is having color red...
Fruit orange is having color orange...
Fruit lime is having color green...

In [231]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get("pineapple"))
print (dict1.get("orange", "Not available"))
print (dict1.get("banana"))
print (dict1.get("banana", "Not available"))
print (dict1.get("OraNGe".lower(), "Not available"))
print (dict1["apple"])
print (dict1["lime"])
print (dict1["coconut"])

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869226816
yellow
orange
None
Not available
orange
red
green

KeyError: 'coconut'

In [234]:
# insert and update operations on a dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["banana"] = "yellow"   # insert operation
dict1["coconut"] = "brown"   # insert operation
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["mango"] = "red"       # update operation
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869816320
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green', 'banana': 'yellow', 'coconut': 'brown'} 7 <class 'dict'> 2968869816320
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'lime': 'green', 'banana': 'yellow', 'coconut': 'brown'} 7 <class 'dict'> 2968869816320

In [238]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("apple", "deep red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("mango", "red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("banana", "yellow")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("coconut", "brown")
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869641024
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869641024
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869641024
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green', 'banana': 'yellow'} 6 <class 'dict'> 2968869641024
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green', 'banana': 'yellow', 'coconut': 'brown'} 7 <class 'dict'> 2968869641024

In [241]:
# delete operations on a dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('pineapple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('apple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('lime'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('lime'))
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968864924992
yellow
{'apple': 'red', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 4 <class 'dict'> 2968864924992
red
{'mango': 'green', 'orange': 'orange', 'lime': 'green'} 3 <class 'dict'> 2968864924992
green
{'mango': 'green', 'orange': 'orange'} 2 <class 'dict'> 2968864924992

KeyError: 'lime'

In [244]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968865468352
('lime', 'green')
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2968865468352
('orange', 'orange')
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 2968865468352
('mango', 'green')
{'apple': 'red', 'pineapple': 'yellow'} 2 <class 'dict'> 2968865468352
('pineapple', 'yellow')
{'apple': 'red'} 1 <class 'dict'> 2968865468352

In [245]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869304448
{} 0 <class 'dict'> 2968869304448

In [246]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968869352896

NameError: name 'dict1' is not defined

In [247]:
# concatenation of dictionaries
fruits1 = {"apple":"red", "pineapple":"yellow", "mango":"green"}
fruits2 = {"orange":"orange", "lime":"green"}
print (fruits1, len(fruits1), type(fruits1), id(fruits1))
print (fruits2, len(fruits2), type(fruits2), id(fruits2))
fruits1.update(fruits2)
print (fruits1, len(fruits1), type(fruits1), id(fruits1))
print (fruits2, len(fruits2), type(fruits2), id(fruits2))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 2968874794496
{'orange': 'orange', 'lime': 'green'} 2 <class 'dict'> 2968874791744
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2968874794496
{'orange': 'orange', 'lime': 'green'} 2 <class 'dict'> 2968874791744

In [248]:
mykeys = ["apple", "pineapple", "mango", "orange", "lime"]
price = 900
fruits1 = dict.fromkeys(mykeys, price)
print (fruits1, len(fruits1), type(fruits1), id(fruits1))

{'apple': 900, 'pineapple': 900, 'mango': 900, 'orange': 900, 'lime': 900} 5 <class 'dict'> 2968873803200

In [255]:
fruits = ["apple", "pineapple", "mango", "orange", "lime", "coconut", "lemon"]
prices = [200, 400, 550, 240, 890]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (dict(list(zip(fruits, prices))))
print (dict(tuple(zip(fruits, prices))))
print (dict(zip(fruits, prices)))

<zip object at 0x000002B33E4A8A00>
[('apple', 200), ('pineapple', 400), ('mango', 550), ('orange', 240), ('lime', 890)]
(('apple', 200), ('pineapple', 400), ('mango', 550), ('orange', 240), ('lime', 890))
{'apple': 200, 'pineapple': 400, 'mango': 550, 'orange': 240, 'lime': 890}
{'apple': 200, 'pineapple': 400, 'mango': 550, 'orange': 240, 'lime': 890}
{'apple': 200, 'pineapple': 400, 'mango': 550, 'orange': 240, 'lime': 890}

In [256]:
def switch_case_demo(month_no):
    switcher = {1:"January",
                2:"February",
                3:"March",
                4:"April",
                5:"May",
                6:"June",
                7:"July",
                8:"August",
                9:"September",
               10:"October",
               11:"November",
               12:"December"}
    return switcher.get(month_no, "Invalid Month No.")

print (switch_case_demo(3))
print (switch_case_demo(11))
print (switch_case_demo(9))
print (switch_case_demo(30))

March
November
September
Invalid Month No.

In [259]:
dict1 = {"apple":"red", "guava":"green", "grape":"black", "banana":"yellow"}
print (dict1, id(dict1))
dict2 = dict1.copy()
print (dict2, id(dict2))
dict1["grape"] = "green"
dict2["apple"] = "deep red"
print (dict1, id(dict1))
print (dict2, id(dict2))

{'apple': 'red', 'guava': 'green', 'grape': 'black', 'banana': 'yellow'} 2968863981376
{'apple': 'red', 'guava': 'green', 'grape': 'black', 'banana': 'yellow'} 2968869888064
{'apple': 'red', 'guava': 'green', 'grape': 'green', 'banana': 'yellow'} 2968863981376
{'apple': 'deep red', 'guava': 'green', 'grape': 'black', 'banana': 'yellow'} 2968869888064

### Set Processing

In [262]:
# creating a set from different data sources
# from a list
list1 = ["apple", "guava", False, 2.45, "grape", "banana", True, 100, "guava", False, 2.45, "grape"]
set1 = set(list1)
print (set1, len(set1), type(set1), id(set1))

# from a tuple
tuple1 = ("apple", "guava", False, 2.45, "grape", "banana", True, 100, "guava", False, 2.45, "grape")
set1 = set(tuple1)
print (set1, len(set1), type(set1), id(set1))

# from a set directly
set1 = {"apple", "guava", False, 2.45, "grape", "banana", True, 100, "guava", False, 2.45, "grape"}
print (set1, len(set1), type(set1), id(set1))

{False, True, 2.45, 100, 'banana', 'guava', 'apple', 'grape'} 8 <class 'set'> 2968874617984
{False, True, 2.45, 100, 'banana', 'guava', 'apple', 'grape'} 8 <class 'set'> 2968874617088
{False, True, 2.45, 100, 'banana', 'guava', 'apple', 'grape'} 8 <class 'set'> 2968874617984

In [267]:
# set operations: union, intersection, difference, symmetric difference
# union operation
snakes = {'viper', 'python', 'cobra'}
print (snakes)
languages = {'c++', 'kotlin', 'python'}
print (languages)
result = languages.union(snakes)
print (result)
result = languages | snakes
print (result)
print (languages)
print (snakes)

{'viper', 'python', 'cobra'}
{'c++', 'kotlin', 'python'}
{'viper', 'c++', 'kotlin', 'python', 'cobra'}
{'viper', 'c++', 'kotlin', 'python', 'cobra'}
{'c++', 'kotlin', 'python'}
{'viper', 'python', 'cobra'}

In [271]:
# intersection operation
snakes = {'viper', 'python', 'cobra'}
print (snakes)
languages = {'c++', 'kotlin', 'python'}
print (languages)
result = languages.intersection(snakes)
print (result)
result = languages & snakes
print (result)
print (languages)
print (snakes)
languages.intersection_update(snakes)
print (languages)
print (snakes)

{'viper', 'python', 'cobra'}
{'c++', 'kotlin', 'python'}
{'python'}
{'python'}
{'c++', 'kotlin', 'python'}
{'viper', 'python', 'cobra'}
{'python'}
{'viper', 'python', 'cobra'}

In [274]:
# difference operation
snakes = {'viper', 'python', 'cobra'}
print (snakes)
languages = {'c++', 'kotlin', 'python'}
print (languages)
result = languages.difference(snakes)
print (result)
result = languages - snakes
print (result)
print (languages)
print (snakes)
languages.difference_update(snakes)
print (languages)
print (snakes)

{'viper', 'python', 'cobra'}
{'c++', 'kotlin', 'python'}
{'c++', 'kotlin'}
{'c++', 'kotlin'}
{'c++', 'kotlin', 'python'}
{'viper', 'python', 'cobra'}
{'c++', 'kotlin'}
{'viper', 'python', 'cobra'}

In [276]:
# symmetric difference operation
snakes = {'viper', 'python', 'cobra'}
print (snakes)
languages = {'c++', 'kotlin', 'python'}
print (languages)
result = languages.symmetric_difference(snakes)
print (result)
result = languages ^ snakes
print (result)
print (languages)
print (snakes)
languages.symmetric_difference_update(snakes)
print (languages)
print (snakes)

{'viper', 'python', 'cobra'}
{'c++', 'kotlin', 'python'}
{'viper', 'c++', 'kotlin', 'cobra'}
{'viper', 'c++', 'kotlin', 'cobra'}
{'c++', 'kotlin', 'python'}
{'viper', 'python', 'cobra'}
{'viper', 'c++', 'kotlin', 'cobra'}
{'viper', 'python', 'cobra'}

In [284]:
set1 = set([100, 200, 300])
set2 = set([400, 500, 600, 700, 800])
set3 = set([400, 600, 700])
print (set1.issuperset(set2), set2.issuperset(set3))
print (set1.isdisjoint(set2), set2.isdisjoint(set3))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))

False True
True False
False False True

In [287]:
set1 = {100, 200, 300}
set2 = set1.copy()
print (set1, id(set1))
print (set2, id(set2))
print (set2.pop())
print (set1, id(set1))
print (set2, id(set2))

{200, 100, 300} 2968872528800
{200, 100, 300} 2968872528352
200
{200, 100, 300} 2968872528800
{100, 300} 2968872528352

In [290]:
# insert operation on a set
set1 = {100, 300, 200, 400}
print (set1)
set1.add(900)
set1.add(350)
print (set1)

{200, 100, 400, 300}
{900, 100, 200, 300, 400, 350}

In [295]:
# delete operation on a set
set1 = {900, 100, 200, 300, 400, 350}
print (set1)
set1.remove(200)
print (set1)
set1.remove(400)
print (set1)
set1.discard(900)
print (set1)
set1.discard(1000)
set1.remove(1000)

{100, 900, 200, 300, 400, 350}
{100, 900, 300, 400, 350}
{100, 900, 300, 350}
{100, 300, 350}

KeyError: 1000

In [296]:
set1 = {900, 100, 200, 300, 400, 350}
print (set1)
print (set1.pop())
print (set1)
print (set1.pop())
print (set1)
print (set1.pop())
print (set1)

{100, 900, 200, 300, 400, 350}
100
{900, 200, 300, 400, 350}
900
{200, 300, 400, 350}
200
{300, 400, 350}

In [297]:
set1 = {900, 100, 200, 300, 400, 350}
print (set1)
set1.clear()
print (set1)

{100, 900, 200, 300, 400, 350}
set()

In [298]:
set1 = {900, 100, 200, 300, 400, 350}
print (set1)
del set1
print (set1)

{100, 900, 200, 300, 400, 350}

NameError: name 'set1' is not defined

In [299]:
set1 = {900, 100, 200, 300, 400, 350}
print (set1)
set1.discard(400)
set1.add(4000)
print (set1)

{100, 900, 200, 300, 400, 350}
{4000, 100, 900, 200, 300, 350}

In [300]:
set1 = {900, 100, 200, 300, 400, 350}
print (set1)
set2 = {111, 333, 222, 666}
print (set2)
set1.update(set2)
print (set1)
print (set2)

{100, 900, 200, 300, 400, 350}
{666, 333, 222, 111}
{100, 900, 200, 300, 333, 111, 400, 666, 222, 350}
{666, 333, 222, 111}

### Frozen Set Processing

In [263]:
# creating a frozen set from different data sources
# from a list
list1 = ["apple", "guava", False, 2.45, "grape", "banana", True, 100, "guava", False, 2.45, "grape"]
fset1 = frozenset(list1)
print (fset1, len(fset1), type(fset1), id(fset1))

# from a tuple
tuple1 = ("apple", "guava", False, 2.45, "grape", "banana", True, 100, "guava", False, 2.45, "grape")
fset1 = frozenset(tuple1)
print (fset1, len(fset1), type(fset1), id(fset1))

# from a set directly
fset1 = frozenset({"apple", "guava", False, 2.45, "grape", "banana", True, 100, "guava", False, 2.45, "grape"})
print (fset1, len(fset1), type(fset1), id(fset1))

frozenset({False, True, 2.45, 100, 'banana', 'guava', 'apple', 'grape'}) 8 <class 'frozenset'> 2968871541216
frozenset({False, True, 2.45, 100, 'banana', 'guava', 'apple', 'grape'}) 8 <class 'frozenset'> 2968871542112
frozenset({False, True, 2.45, 100, 'banana', 'guava', 'apple', 'grape'}) 8 <class 'frozenset'> 2968864974880

In [268]:
# frozen set operations: union, intersection, difference, symmetric difference
# union operation
snakes = frozenset(['viper', 'python', 'cobra'])
print (snakes)
languages = frozenset(['c++', 'kotlin', 'python'])
print (languages)
result = languages.union(snakes)
print (result)
result = languages | snakes
print (result)
print (languages)
print (snakes)

frozenset({'viper', 'python', 'cobra'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'viper', 'c++', 'kotlin', 'python', 'cobra'})
frozenset({'viper', 'c++', 'kotlin', 'python', 'cobra'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'viper', 'python', 'cobra'})

In [273]:
# intersection operation
snakes = frozenset(['viper', 'python', 'cobra'])
print (snakes)
languages = frozenset(['c++', 'kotlin', 'python'])
print (languages)
result = languages.intersection(snakes)
print (result)
result = languages & snakes
print (result)
print (languages)
print (snakes)

frozenset({'viper', 'python', 'cobra'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'python'})
frozenset({'python'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'viper', 'python', 'cobra'})

In [275]:
# difference operation
snakes = frozenset(['viper', 'python', 'cobra'])
print (snakes)
languages = frozenset(['c++', 'kotlin', 'python'])
print (languages)
result = languages.difference(snakes)
print (result)
result = languages - snakes
print (result)
print (languages)
print (snakes)

frozenset({'viper', 'python', 'cobra'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'c++', 'kotlin'})
frozenset({'c++', 'kotlin'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'viper', 'python', 'cobra'})

In [277]:
# symmetric difference operation
snakes = frozenset(['viper', 'python', 'cobra'])
print (snakes)
languages = frozenset(['c++', 'kotlin', 'python'])
print (languages)
result = languages.symmetric_difference(snakes)
print (result)
result = languages ^ snakes
print (result)
print (languages)
print (snakes)

frozenset({'viper', 'python', 'cobra'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'viper', 'c++', 'kotlin', 'cobra'})
frozenset({'viper', 'c++', 'kotlin', 'cobra'})
frozenset({'c++', 'kotlin', 'python'})
frozenset({'viper', 'python', 'cobra'})

In [285]:
fset1 = frozenset([100, 200, 300])
fset2 = frozenset([400, 500, 600, 700, 800])
fset3 = frozenset([400, 600, 700])
print (fset1.issuperset(fset2), fset2.issuperset(fset3))
print (fset1.isdisjoint(fset2), fset2.isdisjoint(fset3))
print (fset1.issubset(fset2), fset2.issubset(fset3), fset3.issubset(fset2))

False True
True False
False False True

In [289]:
set1 = frozenset({100, 200, 300})
set2 = set1.copy()
print (set1, id(set1))
print (set2, id(set2))

frozenset({200, 100, 300}) 2968872492608
frozenset({200, 100, 300}) 2968872492608