#### Importing Modules: Math Module

In [ ]:
# importing required modules
import math

In [ ]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0), math.cosh(0), math.asin(0))
print (math.sqrt(100), 100 ** 0.5, math.sqrt(1000), 1000 ** 0.5)
print (math.pi, math.e, math.tau)
print (math.gcd(100, 5), math.gcd(100, 45), math.gcd(1000, 720),(1000*720)/math.gcd(1000,720))
print (math.log(100), math.log(100, math.e), math.log(1024, 2), math.log2(1024),
       math.log(1000, 10), math.log10(1000))
print (math.factorial(5), math.factorial(6))
print (math.pow(100, 2), 100 ** 2, 100.0 ** 2)
print (math.floor(10.1), math.floor(10.9), math.ceil(10.1), math.ceil(10.9))

In [ ]:
print (math.dist((100, 30), (200, 40)))   # calculating Eucledian distance
print (math.sqrt((100 - 200) ** 2 + (30 - 40) ** 2))
help(math.pow)
help(math)

In [ ]:
import calendar
calendar.prcal(2023)

#### String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [ ]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval

In [ ]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper(), mystr.lower(), mystr.title(), mystr.capitalize(),
       mystr.swapcase(), mystr.center(40))
print (mystr.upper().center(50))

In [ ]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

In [ ]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
    print (mystr.index("ins", 11, 13))
except ValueError as ve:
    print ("Unsuccessful searching has taken place...")
print ("End of the program...")

In [ ]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()), mystr.lstrip(), len(mystr.lstrip()), mystr.rstrip(),
       len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")), mystr.lstrip("@#"), mystr.rstrip("@#"),
       len(mystr.rstrip("@#")))

In [ ]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

In [ ]:
mystr = "madam"    # Reading character by character from a string
for ch in mystr:
    print (ch)
for i in range(len(mystr)):
    print (mystr[i])

In [ ]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
list1 = mystr.split(" ")
list1 = mystr.split("i")
list_num = [int(x) for x in input("Enter your all numbers: ").split()]

In [ ]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
mystr = " - ".join(list1)
mystr = ", ".join(list1)

In [ ]:
mystr = "university"
# mystr = "1234"    # isdecimal() subset of isdigit() subset of isnumeric()
# mystr = "0xab"
# mystr = "university1234"
# mystr = "university@1234"
# mystr = "å››"  # go to Google Translator and translate digit 4 to Chinese digit symbol
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
print ("   ".isspace())

In [ ]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
mystr = mystr.replace("i", "x")

In [ ]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

#### Class Assignment

In [ ]:
# Input: moHan dAs kaRAM chANd ganDhi
# Output: M D K C Gandhi
mystr = "moHan dAs kaRAM chANd ganDhi"
flag = 1
outputstr = ""
for i in range(len(mystr)):
    ch = mystr[i]
    if (flag == 1):
        outputstr += ch.upper()
        position = i
        flag = 0
    if (ch == " "):
        flag = 1
        outputstr += " "
print (outputstr)
outputstr += mystr[position + 1:].lower()
print (outputstr)

#### Class Assignment

In [ ]:
# Input: moHan dAs kaRAM chANd ganDhi
# Output: M. D. K. C. Gandhi
def my_str_processing(mystr):
    flag = 1
    outputstr = ""
    for i in range(len(mystr)):
        ch = mystr[i]
        if (flag == 1):
            outputstr += ch.upper()
            position = i
            flag = 0
        if (ch == " "):
            flag = 1
            outputstr += ". "
    outputstr += mystr[position + 1:].lower()
    return outputstr

name_str = "moHan dAs kaRAM chANd ganDhi"
result_str = my_str_processing(name_str)
print (f"Original String is: {name_str}...")
print (f"Processed string is: {result_str}...")
print ("End of the program...")

#### Class Assignment

In [ ]:
Take a sentence from the user as input. The sentence may contain upper case and lower case 
characters and special characters. Find the number of vowels and consonants in the given sentence.

In [ ]:
mystr = input("Please enter your sentence: ").lower()
vcount = ccount = 0
for ch in mystr:
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So the vowel count is {vcount} and consonant count is {ccount}...")
print ("End of the program...")

#### List Processing

In [ ]:
list1 = [100, 400, 300, 200, 700]
# list1 = [100, 400, True, 300, 200, False, 700]
# list1 = ["sunday", "monday", 'friday', 'saturday', 'Tuesday']
# list1 = [100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

In [ ]:
# Indexing and slicing
# L ro R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])

In [ ]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = list1 + list2    # list concatenation
list1.extend(list2)      # list concatenation

In [ ]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = [list1, list2]      # list of lists
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

In [ ]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
list1.append("Guava")
list1.insert(1, "Lemon")

# update operation on list
list1[0] = "Himsagar"

# deletion operation on list
list1.remove("Pineapple")
print (list1.pop())
print (list1.pop(2))
list1.clear()
del list1[2]
del list1

In [ ]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
list1.reverse()

# sorting of a list
list1.sort()
list1.sort(reverse = True)
list1 = sorted(list1)
list1 = sorted(list1, reverse = True)

In [ ]:
list1 = [True, False, True, True]
# list1 = [True, True, True, True]
# list1 = [False, False, False, False]
print (any(list1), all(list1))

In [ ]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1.count('Pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))

In [ ]:
def list_function(llist):
    for i in range(len(llist)):
        llist[i] += 100
        
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
print (list1, len(list1), type(list1), id(list1))
list_function(list1)
print (list1, len(list1), type(list1), id(list1))

In [ ]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
list2 = list1; list1[0] = 9999
list2 = list1[2:5]; list1[3] = 9999
list2[:] = list1; list1[0] = 9999
list2 = list1.copy(); list1[0] = 9999

#### Class Assignment

In [ ]:
Take n number of integers from the user and put them in a list and sort them and print them.
Now take one by one number from the newly created list and put them in two lists, even_list and odd_list
depending upon the fact whether the number is even or odd respectively. And print both two lists.

In [ ]:
n = int(input("Please enter the number of numbers: "))
main_list = []
for i in range(n):
    num = int(input(f"Please enter integer number {i + 1} -> "))
    main_list.append(num)
main_list.sort()
print ("So the initial sorted list is", main_list)
even_list = []
odd_list = []
for item in main_list:
    if (item % 2 == 0): even_list.append(item)
    else: odd_list.append(item)
print ("So the even list is", even_list)
print ("So the odd list is", odd_list)
print ("End of the program...")

#### Tuple Processing

In [ ]:
tuple1 = (100, 400, 300, 200, 700)
# tuple1 = (100, 400, True, 300, 200, False, 700)
# tuple1 = ("sunday", "monday", 'friday', 'saturday', 'Tuesday')
# tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

In [ ]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

In [ ]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
tuple3 = tuple1 + tuple2      # tuple concatenation
tuple3 = (tuple1, tuple2)     # tuple of tuples

In [ ]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

In [ ]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
list1[1] = 'Saturday'
tuple1 = tuple(list1)

In [ ]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = tuple(sorted(tuple1))

In [ ]:
tuple1 = (True, False, True, True); print (any(tuple1), all(tuple1))
tuple1 = (True, True, True, True); print (any(tuple1), all(tuple1))
tuple1 = (False, False, False, False); print (any(tuple1), all(tuple1))

In [ ]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.count('Pineapple'), tuple1.count('Lemon'))

In [ ]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0), tuple1.index("Pineapple", 2), tuple1.index("Pineapple", 5))

In [ ]:
print ((5,7)[5 > 7], (5,7)[7 > 5])

#### Dictionary Processing

In [ ]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", 
         "lime":"green", "mango":"red"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())   # returns list of keys
print (dict1.values())   # returns list of values
print (dict1.items())   # returns list of tuples

In [ ]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1.get('mango'))
print (dict1.get('banana'), dict1.get('mango', "NA"), dict1.get('banana', "NA"))
print (dict1['apple'], dict1['pineapple'])
print (dict1['yellow'])

In [ ]:
# insert and update operations on a dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
dict1['banana'] = 'yellow'    # insert operation
dict1['mango'] = 'red'    # update operation

dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
dict1.setdefault("apple", "deep red")
dict1.setdefault("mango", "red")
dict1.setdefault("banana", "yellow")

In [ ]:
# delete operation on dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1.pop('pineapple'))
print (dict1.popitem())
dict1.clear()
del dict1

In [ ]:
# concatenation of dictionaries
fruits1 = {"apple":"red", "pineapple":"yellow"}
fruits2 = {"mango":"green", "orange":"orange", "lime":"green"}
fruits1.update(fruits2)

In [ ]:
mykeys = ["mango", 'pineapple', "cherry", "lime"]
price = 900
dict1 = dict.fromkeys(mykeys, price)

In [ ]:
fruits = ["mango", 'pineapple', "cherry", "lime", "banana"]
prices = [100, 300, 500, 200, 700, 900]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (dict(zip(fruits, prices)))
print (dict(list(zip(fruits, prices))))
print (dict(tuple(zip(fruits, prices))))

In [ ]:
def switch_case_demo(month_no):
    switcher = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June",
                7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
    return switcher.get(month_no, "Invalid Month No.")

print (switch_case_demo(3), switch_case_demo(13))

In [ ]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
dict2 = dict1.copy()
dict1['mango'] = "red"

#### Set Processing

In [ ]:
# forming a set from a list
list1 = ['Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         70000, "Chennai", True, 38.5]
set1 = set(list1)

# forming a set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
          70000, "Chennai", True, 38.5)
set1 = set(tuple1)

# forming a set directly
set1 = {'Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
        70000, "Chennai", True, 38.5}

In [ ]:
# set operations: union, intersection, set difference, symmetric difference
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
result = snakes.union(languages)
result = snakes | languages

result = snakes.intersection(languages)
result = snakes & languages
snakes.intersection_update(languages)

result = snakes.difference(languages)
result = snakes - languages
snakes.difference_update(languages)

result = snakes.symmetric_difference(languages)
result = snakes ^ languages
snakes.symmetric_difference_update(languages)

In [ ]:
set1 = {100, 200, 300}
set2 = {400, 500, 600, 700, 800}
set3 = {600, 700, 800}
print (set1.issuperset(set2), set2.issuperset(set3), set3.issuperset(set2))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))
print (set1.isdisjoint(set2), set2.isdisjoint(set3), set3.isdisjoint(set2))

In [ ]:
set1 = {100, 200, 300}
set2 = set1.copy()
print (set1, id(set1), set2, id(set2))
set2.pop()
print (set1, id(set1), set2, id(set2))

In [ ]:
# insert operation on a set
set1 = {100, 200, 300}
set1.add(400)

# delete operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
set1.remove(300)
set1.discard(300)
print (set1.pop())
set1.clear()
del set1

# update operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
set1.remove(600)   # deleting the item
set1.add(1600)   # inserting the item

# concatenating two sets
set1 = {100, 200, 300}
set2 = {300, 600, 700, 500, 400}
set1.update(set2)

#### Frozen-Set Processing

In [ ]:
# forming a frozen set from a list
list1 = ['Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         70000, "Chennai", True, 38.5]
set1 = frozenset(list1)

# forming a frozen set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
          70000, "Chennai", True, 38.5)
set1 = frozenset(tuple1)

# forming a frozen set from a set
myset = {'Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         "Chennai", True, 38.5}
set1 = frozenset(myset)

In [ ]:
# frozen-set operations: union, intersection, difference, symmetric difference
snakes = frozenset({'viper', 'python', 'cobra'})
languages = frozenset({'java', 'c++', 'python'})
result = snakes.union(languages)
result = snakes | languages
result = snakes.intersection(languages)
result = snakes & languages
result = snakes.difference(languages)
result = snakes - languages
result = snakes.symmetric_difference(languages)
result = snakes ^ languages

In [ ]:
set1 = frozenset({100, 200, 300})
set2 = frozenset({400, 500, 600, 700, 800})
set3 = frozenset({600, 700, 800})
print (set1.issuperset(set2), set2.issuperset(set3), set3.issuperset(set2))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))
print (set1.isdisjoint(set2), set2.isdisjoint(set3), set3.isdisjoint(set2))

In [ ]:
set1 = frozenset({100, 200, 300})
set2 = set1.copy()
print (set1, id(set1), set2, id(set2))